# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# macOS
.DS_Store
*.swp
*~

# Xcode playground
timeline.xctimeline
playground.xcworkspace

# App archives
*.ipa
*.dSYM.zip
*.dSYM
